* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    font-size: 10px;
}

@media only screen and (min-width: 35.5em) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 48em) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 64em) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 80em) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 120em) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 160em) {
    html {
        font-size: 22px;
    }
}

@media only screen and (min-width: 240em) {
    html {
        font-size: 24px;
    }
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.dropdown-menu-title,
.dropdown-menu[data-hidden="false"] .dropdown-menu-list,
.dropdown-menu[data-hidden="false"] a {
    cursor: pointer;
}

.dropdown-menu-list {
    list-style-type: none;
    opacity: 1;
    transform: translateX(0%) translateY(0.5rem);
    transition: all 1s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-menu-title, 
.dropdown-menu-list li {
    background-color: green;
    width: 5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 50%;
    color: whitesmoke;
}

.dropdown-menu-title:hover,
.dropdown-menu-list li:hover {
    filter: brightness(0.9);
}

.dropdown-menu-title:active,
.dropdown-menu-list li:active {
    filter: brightness(0.7);
}

.dropdown-menu-list li {
    margin-bottom: 0.5rem;
}

.hide {
    transform: translateX(0%) translateY(0);
    opacity: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: default;
}